<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Image Web Server</title>
    </head>
    <body>
        <div>
            <h2>It's a image web server</h2>
            <div>
                <p>current version is {{.version}}</p>
                <p>the base url is http://{{.host}}/img/</p>
                <label>example</label>
                <p>origin picture: http://{{.host}}/img/xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.jpg</p>
                <p>resize picture: http://{{.host}}/img/xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx_100x100.jpg                  
                </p>
            </div>
        </div>        
    </body>
</html>