<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Image Web Server</title>
    </head>
    <body>
        <div>
            <h2>It's a image web server</h2>
            <div>
                <p>current version is {{.version}}</p>
                <p>the base url is http://{{.host}}/img/</p>
                <label>example</label>
                <p>resize : 
                    <a href="http://{{.host}}/img/da920d941df06a5ba3ac4f9a9d4da5f7_100x100.png">
                        <img src="http://{{.host}}/img/da920d941df06a5ba3ac4f9a9d4da5f7_100x100.png" width="100" height="100" />
                    </a>
                </p>
            </div>
        </div>        
    </body>
</html>